/*body {
    background-color: blue;
}

*/

body{
    text-align: center;
}

#help{
    text-align:left
}

#account{
    background-color: gray;
}

#continue{
    background-color: yellow;
}

#forgot{
    color: blue;
}